@use './variables' as*;

// REGOLE FLEX: 

@mixin flex ($type) {
    display: flex;

    @if $type =='between' {
        justify-content: space-between;
    }

    @else if $type =='center' {
        align-items: center;
    }

    @else if $type =='both' {
        justify-content: space-between;
        align-items: center;
    }
}

// REGOLE BUTTONS: 
@mixin button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 30px;
}