@use './variables' as*;

// REGOLE FLEX: 

@mixin flex ($type) {
    display: flex;

    @if $type =='flex' {}

    @if $type =='between' {
        justify-content: space-between;
    }

    @else if $type =='center' {
        align-items: center;
    }

    @else if $type =='both' {
        justify-content: space-between;
        align-items: center;
    }

    @else if $type =='column' {
        flex-direction: column;
    }

    @else if $type =='col-center' {
        flex-direction: column;
        align-items: center;
    }
}

// REGOLE BUTTONS: 
@mixin button {
    font-size: 14px;
    color: $white;
    background-color: $primary;
    border-radius: 30px;

    &:hover {
        background-color: #5f9b4b;
    }
}