// REGOOLE COLORI:

$gray-title: #403d4f;
$primary: #7abc64;
$bg-gray: #333333;
$navy: #556773;
$white: #fff;
$border-card: #eaeaea;
$text-course: #7697ac;


// REGOLE FONT-SIZE:
$smaller-font: 11px;
$small-font: 12px;