// REGOLE GENERALI:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

// LAYOUT:
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}